:root {
    --bg: oklch(98.5% .002 247.839);
    --bg-lighter: color-mix(in srgb, var(--bg) 95%, #fff 5%);
    --bg-lightest: color-mix(in srgb, var(--bg) 90%, #fff 10%);
    --bg-darker: color-mix(in srgb, var(--bg) 98%, #000 4%);
    --bg-darkest: color-mix(in srgb, var(--bg) 94%, #000 8%);

    --radius: 8px;
    --radius-bigger: 12px;
    --radius-biggest: 16px;

    --border: 1px solid oklch(87.2% .01 258.338);
    --boarder-darker: 1px solid oklch(75.552% 0.00853 254.049);
    --border-darkest: 1px solid oklch(63.219% 0.00701 255.662);

    --padding: 16px;
    --padding-smaller: 12px;
    --padding-smallest: 8px;
    --padding-bigger: 20px;
    --padding-biggest: 24px;

    --gap: 8px;
    --gap-smaller: 4px;

    --clr: #2c2c2c;
    --sz: 16px;

    --transition: all 0.25s ease;
}

:root.dark {
    --bg: oklch(22% 0.005 260);
    --bg-lighter: oklch(26% 0.008 260);
    --bg-lightest: oklch(30% 0.01 260);
    --bg-darker: oklch(18% 0.005 260);
    --bg-darkest: oklch(14% 0.005 260);

    --border: 1px solid oklch(35% 0.01 260);
    --boarder-darker: 1px solid oklch(28% 0.01 260);
    --border-darkest: 1px solid oklch(22% 0.01 260);

    --clr: oklch(92% 0.005 80);
}